<div class="container" [hidden]="submitted">
    <div class="mat-headline">Add an item</div>
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
        <div>
            <mat-form-field [style.width.px]=350 appearance="fill">
                <mat-label>Item name</mat-label>
                <input type="text" [(ngModel)]="model.name" name="#name" required matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field [style.width.px]=350 appearance="fill">
                <mat-label>User</mat-label>
                <input type="text" [(ngModel)]="model.user" name="#user" required matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field [style.width.px]=350 appearance="fill">
                <mat-label>Location</mat-label>
                <input type="text" [(ngModel)]="model.location" name="#location" required matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field [style.width.px]=350 name="#inventoryNumber" appearance="fill">
                <mat-label>Inventory №</mat-label>
                <input type="number" [(ngModel)]="model.inventoryNumber" name="#inventoryNumber" required matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field [style.width.px]=350 name="#creationDate" appearance="fill">
                <mat-label>Creation date</mat-label>
                <input [(ngModel)]="model.createdAt" name="#createdAt" required matInput readonly
                    [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field [style.width.px]=350 appearance="fill">
                <mat-label>Description</mat-label>
                <textarea [(ngModel)]="model.description" #description name="#description" matInput
                    maxLength="200"></textarea>
            </mat-form-field>
        </div>
        <button type="submit" [disabled]="!f.form.valid" [hidden]="submitted" class="add-button" matTooltip="Add item"
            mat-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </form>
</div>
<div class="container" [hidden]="!submitted">
    <div class="submitted-container">
        <div class="mat-headline">
            <mat-icon>check</mat-icon> The item has been added successfully.
        </div>
        <button mat-raised-button color="primary" (click)="navigateToInventoryList()" cdkFocusInitial>GO TO
            INVENTORY</button>
    </div>
</div>
<img class="img-pallets" src="../../../assets/pallets.png" >