@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.container
{
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    background-image: url('../../../assets/storageunit_bg.png');
    background-position: center;
    height: 100%;
    overflow-y: scroll;
    z-index: 10;
}

.add-button
{
    position: fixed;
    z-index: 999;
    bottom: 50px;
    right: 50px;
}

@media screen and (max-width: 780px) {
    .img-pallets {
        display: none !important;
    }
}

.img-pallets
{
    position: fixed;
    bottom: 70px;
    right: 70px;
    width: 340px;
    height: 280px;
    pointer-events: none;
    z-index: -1;
    opacity: 0.6;
}

.submitted-container
{
    animation: 0.75s fadeIn
}