@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.container
{
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    background-image: url('../../../assets/storageunit_bg.png');
    background-position: center;
    height: 100%;
    overflow-y: scroll;
}

.mat-table
{
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    animation: 0.75s fadeIn
}

.mat-paginator
{
    background-color: rgba(255,255,255,0);
    display: flex;
    align-items: left;
    animation: 0.75s fadeIn
}

.mat-cell 
{
    padding: 5px 5px 5px 0px;
}

.speed-dial
{
    position: fixed;
    z-index: 999;
    bottom: 50px;
    right: 50px;
}

.mat-headline
{
    animation: 0.75s fadeIn
}

.mat-subheading-1
{
    animation: 0.75s fadeIn
}

.spinner-container {
    display: flex; 
    width: 100%;
    height: 100%;
    justify-content: center; 
    align-items: center; 
    background-color: transparent; 
    animation: fadeIn ease 1s;
  }