<div class="container">
    <div class="mat-headline">Inventory</div>
    <table mat-table [dataSource]="inventoryItems" matSort class="mat-elevation-z8">

        <!-- Checkbox column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox color="primary" (change)="$event ? masterToggle(): null"
                    [checked]="selection.hasValue() && isAllItemsSelected()"
                    [indeterminate]="selection.hasValue() && !isAllItemsSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox color="primary" (change)="selection.toggle(row)" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- ID Column  -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column  -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NAME</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Description Column  -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPTION</th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- User Column  -->
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>USER</th>
            <td mat-cell *matCellDef="let element"> {{element.user}} </td>
        </ng-container>

        <!-- Location Column  -->
        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>LOCATION</th>
            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>

        <!-- Inventory Number Column  -->
        <ng-container matColumnDef="inventoryNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>INVENTORY №</th>
            <td mat-cell *matCellDef="let element"> {{element.inventoryNumber}} </td>
        </ng-container>

        <!-- createdAt Column  -->
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CREATED AT</th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt | date }} </td>
        </ng-container>

        <!-- modifiedAt Column  -->
        <ng-container matColumnDef="modifiedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MODIFIED AT</th>
            <td mat-cell *matCellDef="let element"> {{element.modifiedAt | date}} </td>
        </ng-container>

        <!-- deleted Column  -->
        <ng-container matColumnDef="deleted">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DELETED</th>
            <td mat-cell *matCellDef="let element"> {{element.deleted}} </td>
        </ng-container>

        <!-- edit Column  -->
        <ng-container matColumnDef="editAction">
            <th mat-header-cell *matHeaderCellDef>EDIT ITEM</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="editItem(element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="inventoryColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: inventoryColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[3, 5, 6, 10]" showFirstLastButtons></mat-paginator>
    <div>
        <eco-fab-speed-dial class="speed-dial">
            <eco-fab-speed-dial-trigger [spin]="true">
                <button mat-fab color="primary">
                    <mat-icon class="spin360">more_horiz</mat-icon>
                </button>
            </eco-fab-speed-dial-trigger>
            <eco-fab-speed-dial-actions>
                <button (click)="askDeleteSelectedItems()" mat-mini-fab color="primary">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-mini-fab color="primary">
                    <mat-icon>filter_alt</mat-icon>
                </button>
            </eco-fab-speed-dial-actions>
        </eco-fab-speed-dial>
    </div>
</div>