.container
{
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    background-image: url('../../../assets/storageunit_bg.png');
    background-position: center;
    height: 100%;
    overflow-y: scroll;
}

.mat-table
{
    width: 100%;
    background-color: rgba(255,255,255,0.3);
}

.mat-paginator
{
    background-color: rgba(255,255,255,0);
    display: flex;
    align-items: left;
}

.mat-cell 
{
    padding: 5px 5px 5px 0px;
}

.speed-dial
{
    position: fixed;
    z-index: 999;
    bottom: 50px;
    right: 50px;
}

