.container {
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    background-image: url('../../../assets/storageunit_bg.png');
    background-position: center;
    height: 100%;
    overflow-y: scroll;
}

.img-qr-code {
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 0px;
    height: 80%;
    pointer-events: none;
    z-index: -1;
    opacity: 0.3;
}

.centered {
    margin: 0 auto;
    display: flex;
    justify-content: centered;
}

.camera {
    width: 600px;
    height: 600px;
    padding: 30px;
    box-sizing: border-box;
}

mat-icon
{
    vertical-align: middle;
}