.container
{
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    background-image: url('../../../assets/storageunit_bg.png');
    background-position: center;
    height: 100%;
    overflow-y: scroll;
}

@media screen and (max-width: 400px) {
    .img-qr-code {
        display: none !important;
    }
}

.img-qr-code
{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 260px;
    pointer-events: none;
    z-index: -1;
    opacity: 0.6;
}