<div class="container" [hidden]="authenticated">
    <div class="mat-headline">Welcome back!</div>
    <div class="mat-body">To log in, please enter your e-mail address and password below.<br><br></div>
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>E-mail address</mat-label>
                <input type="text" [(ngModel)]="model.email" name="#email" required matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" [(ngModel)]="model.password" name="#password" required matInput>
            </mat-form-field>
        </div>
        <button type="submit" [disabled]="!f.form.valid" [hidden]="submitted" class="login-button" matTooltip="Log In"
            mat-fab color="primary">
            <mat-icon>login</mat-icon>
        </button>
    </form>
</div>
<div class="container" [hidden]="!authenticated">
    <div class="authenticated-container">
        <div class="mat-headline">
            <mat-icon>check</mat-icon> Welcome!
        </div>
        <button mat-raised-button color="primary" (click)="navigateToInventoryList()" cdkFocusInitial>GO TO
            INVENTORY</button>
    </div>
</div>
<img class="img-keychain" src="../../../assets/keychain.png">