.container {
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    background-image: url('../../../assets/storageunit_bg.png');
    background-position: center;
    height: 100%;
    overflow-y: scroll;
}

.img-qr-code {
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 0px;
    height: 80%;
    pointer-events: none;
    z-index: -1;
    opacity: 0.2;
}

.print-button {
    position: fixed;
    z-index: 999;
    bottom: 50px;
    right: 50px;
}