<div class="container" *ngIf="itemIsFound">
    <h1>About this item</h1>
    <div id="print-section">
        <div class="item-info">
            <p><b>ID: </b>{{item.id}}</p>
            <p><b>Name: </b>{{item.name}}</p>
            <p><b>Description: </b>{{item.description}}</p>
            <p><b>User: </b>{{item.user}}</p>
            <p><b>Location: </b>{{item.location}}</p>
            <p><b>Inventory №: </b>{{item.inventoryNumber}}</p>
            <p><b>Created at: </b>{{item.createdAt}}</p>
            <p><b>Added: at </b>{{item.addedAt}} <b> by </b>{{item.addedBy}}</p>
            <p><b>Last modified: at </b>{{item.modifiedAt}} <b> by </b>{{item.modifiedBy}}</p>
            <p><b>Active: </b>
                <mat-icon *ngIf="item.active">done</mat-icon>
                <mat-icon *ngIf="!item.active">clear</mat-icon>
            </p>
        </div>
        <qrcode elementType="img" [qrdata]="item.id" [size]="256" [level]="'M'"></qrcode>
    </div>
    <img class="img-qr-code" src="../../../assets/qr_code.png">
    <button ngxPrint printSectionId="print-section" [useExistingCss]="true" class="print-button"
        matTooltip="Print item details" mat-fab color="primary">
        <mat-icon>print</mat-icon>
    </button>
</div>
<div class="container" *ngIf="!itemIsFound && searchedForItem">
    <div class="mat-headline">:(</div>
    <p>Item not found.</p>
</div>
<div class="container" *ngIf="!searchedForItem">
    <div class="mat-title">
        <mat-icon>search</mat-icon>&nbsp;Searching for item...
    </div>
</div>