<div class="container">
    <div class="mat-headline">Add an item</div>
    <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field [style.width.px]=350 appearance="fill">
                <mat-label>Item name</mat-label>
                <input type="text" matInput formControlName="name">
                <mat-error>Required field</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field [style.width.px]=350 appearance="fill">
                <mat-label>User</mat-label>
                <input type="text" formControlName="user" matInput>
                <mat-error>Required field</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field [style.width.px]=350 appearance="fill">
                <mat-label>Location</mat-label>
                <input type="text" formControlName="location" matInput>
                <mat-error>Required field</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field [style.width.px]=350 appearance="fill">
                <mat-label>Inventory №</mat-label>
                <input type="number" formControlName="inventoryNumber" matInput>
                <mat-error>Required field</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field [style.width.px]=350 appearance="fill">
                <mat-label>Creation date</mat-label>
                <input matInput readonly formControlName="createdAt" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Required field</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field [style.width.px]=350 appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-error>Description exceeds 200 characters</mat-error>
            </mat-form-field>
        </div>
        <button type="submit" [disabled]="!addItemForm.valid" class="add-button" matTooltip="Add item" mat-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </form>
</div>