.container
{
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    background-image: url('../../assets/storageunit_hero.jpg');
    background-position: center;
    height: 100%;
    overflow-y: scroll;
}

.mat-card
{
    background-color: rgba(255,255,255,0.85);
}