@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.container
{
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    background-image: url('../../assets/storageunit_hero.jpg');
    background-position: center;
    height: 100%;
    overflow-y: scroll;
}

.mat-card
{
    box-sizing: border-box;
    padding: 25px;
    background-color: rgba(255,255,255,0.5);
    animation: fadeIn ease 1s forwards;
    backdrop-filter: blur(12px);
}

.img-keychain {
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0px;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  opacity: 0.35;
}